@import url('https://fonts.googleapis.com/css2?family=Skranji:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    height: 100vh;
    font-size: 1.5vh;
}

.left-section {
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url("./halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
}

.logo-container {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-self: center;
    display: flex;
    justify-content: center;
    gap: .3em;
    align-items: center;
    margin-top: 12em;
    padding-block: 1em;
}

.logo-container img {
    width: 7em;
}

.logo-container p {
    color: white;
    font-family: "Skranji", system-ui;
    font-weight: 700;
    font-style: normal;
    font-size: 5em;
}


.footer-left-section {
    align-self: center;
    color: white;
    margin-bottom: 1em;
}

.footer-left-section a {
    color: white;
    text-decoration: underline;
}

.main-section{
    height: 100vh;
    width: 100vw;
    align-self: center;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 246, 246);
}

.main-section > div {
    padding-top: 8em;
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin-bottom: 5em;
    
}

.main-section > div p{
    font-weight: 500;
    font-size: 1.9em;
}

.main-section > div + form > div {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 2em 0 2em 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.main-section > div + form > div > p {
    font-weight: 600;
    font-size: 1.8em;
}

.main-section > div + form > div div {
    display: flex;
    gap: 7em;
}

.main-section > div + form > div div div{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.main-section > div + form > div div div input {
    border: 2px solid #E5E7EB;
    border-radius: 4px;
    height: 2em;
    width: 20em;
    padding-inline: .3em;
}

.main-section > div + form > div div div input:focus {
    border-color: blue;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.main-section > div + form > div div div input:invalid {
    border-color: red;
}

.main-section > div + form > button {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #596D48;
    margin: 2em 0 2em 2em;
    padding: 1em 4em;
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
    border-radius: 8px;
}

.main-section > p {
    padding-left: 2em;
    font-size: 1.3em;
}

.main-section > p a {
    color: #596D48;
    font-weight: 700;
}